html,body {
    height: 100%;
    width: 100%;
    margin:0;
    overflow: hidden;
}
body {
    background-color: #ffffff2b;
}

*, *:before, *:after {
    box-sizing: inherit; 
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section {
    display:block;
}

label {
    font-weight: bold;
    font-size: 16px;
}
html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}

.light-grey {
    background-color: #d3d3d32b;
    color:black;
}

.topbar-academy, .topbar-academy:hover {
    top: 0;
    width: 100%;
    color:black;
    background-color: #fff58d; 
    position: fixed;
    height: 45px;
}

.sab-button {
    border: none;
    background: none;
    padding: 5px 15px;
    display: block;
    font-size: 20px;
    color: black;
}

.logo-topbar {
    top: 0;
    right: 0;
    position:fixed;
}

.sidebar {
    height: calc(100% - 25px);
    display: none;
    position: fixed;
    overflow: auto;
    width: 300px;
    top: 45px;
}
.sidebar .sidebar-collapse {
    display:none;
}
.sidebar-animate-left{animation:animateleft 0.4s}
.sidebar-animate-right{position:relative; animation:animarerigth 0.4s}

@keyframes animateleft
{
    from{left:-300px;opacity:0} to{left:0;opacity:1}
}
@keyframes animateright
{
    from{rigth:0;opacity:1} to{right:-300px;opacity:0}
}
.top-sidebar {
    background-color: #ecf3da;
    color: black;
    height: 65px;
}

.title-sidebar {
    text-align: center;
    color:white;
}


@media screen and (max-width: 900px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    .main {
        height: calc(100% - 100px);
        overflow: auto;
        margin-left: 0;
        margin-top:55px;
    }
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }


.main {
    height: calc(100% - 100px);
    overflow: auto;
    margin-left:10px;
    margin-top:55px;

}
}
.main {
    height: calc(100% - 100px);
    margin-left:10px;
    margin-top:55px;

}
.light-sidebar {
    background-color: white;
    color: black;
}

.green-sidebar {
    background-color: #1f9b88;
    color:white;
}

.footer-academy {
    padding-bottom: 16px;
    padding-bottom: 16px;
    background: #3c3939;
    bottom: 0;
    position: fixed;
    width: 100%;
    height: 25px;
    color: white;
    text-align: center;
}


/*GRIGLIA*/
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg,
 .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, 
 .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5,
  .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, 
  .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, 
  .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto { 
    padding-right: 0px;
    padding-left: 0px;
}

.row {
    margin-right: 0px;
    margin-left: 0px;
}
.circle-image {
    border-radius: 50%;
}

.avatar-sidebar {
    width: 55px;
    margin-left: 20px;
}

.nav-item {
    list-style-type: none;
}

ul.nav-item li a {
    color: white;
    text-decoration: none;
}

ul.nav-item li {
    line-height: 1.8;
}
.text-center {
    text-align: center;
}

.login-page {
    height: auto;
    background: #d2d6de;
    background-image: url(../images/sfondo_academy.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.login-box {
    width: 360px;
    margin: 15% auto;
}

.login-box-body {
    background-color: #6ce0ce6e;
    min-height: 270px;
    width: 450px;
    border: 1px solid #6ce0ce6e;
    border-radius: 5%;
    padding: 20px;
    box-shadow: 2px 2px 2px 2px black
}

.login-message {
    margin: 0;
    text-align: center;
    padding: 0 20px 20px 20px;
}

.form-control {
    padding: .375rem 0!important;
}

.form-group {
    margin-bottom:15px;
}

.icon-login {
    text-align: center;
    margin-top: 3%;
}

.saba-checkbox {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    width: 22px;
    height: 22px;
    border: none;
    cursor: pointer;
}

label.check {
    font-size: 18px;
}
.btn {
    height: 30px;
    min-width: 80PX;
    width: auto;
    border: none;
    font-size: 18px;
}
btn:active {
    border: yellow;
}
.btn-login{
    color:white;
    background-color: #1f9b88;
}


@media only screen and (max-width: 640) {
    /* For mobile phones: */
 .login-box {
    width: 90%;
    margin-top: 10%;
    margin-left: 12%;   
    }

}

table {
    border-collapse: collapse;
}

.table {
    width: 100%;
    color: #000;
    margin-top: 6px;
    margin-bottom:10px;
}

.table-bordered {
    border: 2px solid lightgray;
    border-spacing: 0;
}
.table-bordered td, .table-bordered th {
    border: 2px solid lightgray;
}
.table th, .table td, .table thead th,.table tbody td {
    vertical-align: bottom;
}

.table td, .table, th {
    padding: 10px;
}

th {
    top: 0;
    position: sticky;
    background-color: white;
  }

.panel-box {
   border: 1px solid #e3e6f0;
   margin:10px;
   border-radius: 6px;
}

.panel-box-header {
    padding: 1px 6PX;
    background-color: #f8f9fc;
    border-bottom: 1px solid #e3e6f0;
    max-height:55px;
    min-height: 10px;
    font-size: 12px;
}

.panel-box-body {
    padding: 6px;
    max-height: calc( 100% - 25px);
    overflow: auto;
}

.panel-box-footer {
    padding:6px;
    max-height: 30px;
    font-size: 12px;
    border-top: 1px solid #e3e6f0;
}

.msg-alert {
    color:white;
    opacity: 0.5;
    border-radius: 5px;
    min-height: 40px;
}
.msg-success {
    background-color: #1fa71f;
}

.msg-warning {
    background-color: orange;
}
.msg-error {
    background-color: red;
}

.text-msg {
    font-size:18px;
    padding:10px;
}

.day-week {
    margin-top:4px;
}

