<!-- Sidebar/menu -->
<nav class="sidebar sidebar-collapse green-sidebar sidebar-animate-right" id="mySidebar">
    <div class="row top-sidebar">
        <div class="col-4">
            <img src="assets/images/female.svg" class="circle-image avatar-sidebar" alt="avatar">
        </div>
        <div class="col-8">
            <div class="row">
                <div class="col-12">
                    <span>Benvenuto,
                        <strong>Nome_Utente</strong>
                    </span>
                </div>
                <!-- <div class="col col-12">
                        <a href="#" class="col col-2 sab-button">
                            <i class="fa fa-envelope"></i>
                        </a>
                        <a href="#" class="col col-2 sab-button">
                            <i class="fa fa-user"></i>
                        </a>
                        <a href="#" class=" col col-2 sab-button">
                            <i class="fa fa-cog"></i>
                        </a>
                    </div> -->
            </div>
        </div>
    </div>
    <div class="row col col-12">
        <ul class="nav-item">
            <li>
                <a routerLink="/dashboard">
                    <i class="fa fa-dashboard"></i> Dashboard</a>
            </li>
            <li>
                <a routerLink="/planner">
                    <i class="fa fa-calendar"></i> Pianificazione corsi</a>
            </li>
            <li>
                <a routerLink="/courses">
                    <i class="fa fa-book"></i> Gestione corsi</a>
            </li>
            <li>
                <a routerLink="/user-management">
                    <i class="fa fa-users"></i> Gestione utenti</a>
            </li>
            <li>
                <a routerLink="/students">
                    <i class="fa fa-graduation-cap"></i> Gestione allievi</a>
            </li>
            <li>
            <a routerLink="/attendance-register">
                <i class="fa fa-tasks"></i> Registro presenze</a>
            </li>
        </ul>
    </div>
</nav>