<header>
    <h1>
        <b><i class="fa fa-users"></i> Gestione utenti</b>
    </h1>
</header>

<div class="row" style="height: calc(100% - 79px);">
    <div class="col col-12" style="height: 100%;">
        <div class="panel-box" style="height:calc(100% - 30px);">
            <div class="panel-box-header"></div>
            <div class="panel-box-body">
                <div class="row">
                    <div class="col col-12" style="text-align: end">
                        <button type="button" class="btn btn-success" (click)="openModal()">
                            <i class="fa fa-plus"></i> Aggiungi utente</button>
                    </div>
                    <div class="col col-12">
                        <table class="table table-bordered" style="text-align: center">
                            <thead>
                                <tr>
                                    <ng-container *ngFor="let column of columns">
                                        <th>{{column.header}}</th>
                                    </ng-container>
                                </tr>
                            </thead>
                            <tbody>
                                <ng-container *ngFor="let user of users">
                                    <tr>
                                        <td>{{user.name}}</td>
                                        <td>{{user.surname}}</td>
                                        <td>{{user.email}}</td>
                                        <td>
                                            <i class="fa fa-circle" [style]="{ 'cursor': 'pointer', 'color': user.enabled ? 'green' : 'red' }" title="Disabilita docente" (click)="disable(user)"></i>
                                            <i class="fa fa-edit"   style="cursor:pointer" title="Modifica docente" (click)="openModal(user)"></i>
                                            <i class="fa fa-trash"  style="cursor:pointer;color:red" title="Elimina docente" (click)="openConfirmModal(user)"></i>
                                        </td>
                                    </tr>
                                </ng-container>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MASCHERA MODALE PER CONFERMA ELIMINAZIONE UTENTE -->
<app-user-management-confirm-modal #confirmModal (OnConfirm)="delete($event)"></app-user-management-confirm-modal>

<!-- MASCHERA MODALE PER INSERIMENTO/MODIFICA UTENTE -->
<app-user-management-modal #modal (OnSave)="saveNewUser($event)"></app-user-management-modal>